body{
    color:black;
    margin: 0px 0px 0px 0px;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(255, 255, 255, 1) 20%);
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-color: blue;
    padding: 10px;
}
main{
    padding: 10px;
    transition: magin-left 0.5s;
}
.btn-abrir{
    color: white;
    font-size: 25px;
}
nav{
    height: 100%;
    width: 0px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}
nav a{
    color: white;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover {
    color: blue;
    background-color: white;
}

main img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
}
.imgProjetos{
    width: 460px;
    height: 250px;
    margin: 0 10px;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
}
.center{
   text-align:  center;
}
h1{
    color: black;
}
footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;

}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin: 10px;
}
.conteiner{
    padding: 0px 50px;    
}
 a:hover{
    color: rgb(255, 0, 0);
}
.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    padding-left: 3px;
}
.contact-form textarea{
    width:100%;
    padding: 8px 0;
    margin: 8px 0;
    height: 150px;
    caret-color: black;
    padding-left: 3px;
}
button{
    background-color: rgba(148, 148, 148, 0.979);
    width: 100px;
    height: 30px;
}
.imagemAlinhadas {
    display: flex; /* Define o container como um flex container */
    flex-wrap: wrap; /* Permite que as imagens se quebrem para a próxima linha se necessário */
    width: 100%; /* Largura do container */
    text-align: center;
}
.imagem {
    width: 50%; /* Largura de cada imagem (50% da container) */
    object-fit: cover; /* Mantém a proporção e cobre a área do container */
}
